.flow-builder-node {
  .flow-builder-node__remove {
    position: absolute;
    top: -9px;
    right: -9px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
    &:hover {
      opacity: 1;
    }
  }

  .flow-builder-node__content-wrap:hover,
  .flow-builder-node__content:hover {
    .flow-builder-node__remove,
    .flow-builder-sortable-handle {
      opacity: 1;
    }
  }
}
